:root {
    --grid-width-sq: 16;
}

body {
    display: flex;
    background-color: mintcream;
}

.button {
    background-color: #FFF280;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    cursor:pointer;
    background-color: #FFFCC9; /* Highlight button when hovering */
}

.gridWrap {
    border: 4px solid lightslategrey;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 960px;
    display: grid;
    grid-template-columns: repeat(var(--grid-width-sq), 1fr); /* Create grid with designated witdth */
}

div.gridBox {
    border: none;
    background-color: white;
}

.border {
    border: 1px solid grey !important;
}

.text {
    font: bold 20px arial,sans-serif;
}

.errorText {
    font: 20px arial,sans-serif;
    color: red;
}

.wrap {
    margin: 20px;
}

.hide {
    width: 0px !important;
    height: 0px !important;
}

input[type=radio] {
    border: 0px;
    width: 100px;
    height: 2em;
}

#main {
    padding-left: 420px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

#menu {
    padding-left: 20px;
    height: 100%; /* Full height */
    width: 400px;
    position: absolute;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at top */
    left: 0;
    padding-top: 20px;
}

#description {
    margin-top: 50px;
    background-color: #ACDF87;
    border-radius: 5px;
    overflow: auto;
}

#textWrap {
    margin: 20px;
}

#sizeInput {
    width: 70px;
    height: 50px;
    font-size: 30px;
    margin: auto;
}

#sizeScript {
    display: flex;
    justify-items: center;
}

#newSizeSelection {
    background-color: #DCB239;
    margin-top: 20px;
    overflow: auto;
}

#sizeSubmit {
    margin-bottom: 20px;
}

#newColorSelection {
    background-color: #8FD8D2;
    border-radius: 5px;
}

#borderSelection {
    margin-top: 20px;
    background-color: #FEDCD2;
    border-radius: 5px;
}

#other {
    margin-top: 100px;
}

#paintbrush {
    width: 20px;
}
